- name: Create nginx directory
  become: true
  file:
    path: "{{ nginx_directory }}"
    state: directory
    mode: '0770'

- name: Create required directories
  become: true
  block:
  - name: Create public directory
    file:
      path: "{{ item }}"
      state: directory
      mode: '0775'
    loop:
      - "{{ nginx_directory }}/public"
      - "{{ nginx_directory }}/public/images"

  - name: Create secrets directory
    file:
      path: "{{ nginx_directory }}/.secrets"
      state: directory
      mode: '0700'


- name: Copy dashboard file
  become: true
  template:
    src: dashboard.html.j2
    dest: "{{ nginx_directory }}/public/index.html"
    mode: '0775'


- name: Copy nginx configuration
  become: true
  template:
    src: nginx.conf.j2
    dest: "{{ nginx_directory }}/nginx.conf"
    owner: root
    mode: '0770'
  register: nginx_conf


- name: Start container
  ansible.builtin.import_tasks:
    file: utilities/start_container.yml
  vars:
    docker_compose_src_path: "docker-compose.yml.j2"
    service_directory: "{{ nginx_directory }}"

- name: Restart container on conf changes
  when: nginx_conf.changed or ( should_restart_nginx | default(false) )
  become: true
  community.docker.docker_compose:
    project_src: "{{ nginx_directory }}"
    restarted: true


- name: Certbot
  include_tasks: https.yml
  when: schema == 'https'