<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<title>Dashboard</title>

	<style>
        body,html {
            margin: 0;
            padding: 0;
            background-color: #222222;
        }

        body * {
            box-sizing: border-box;
			color: #e1e1e1;
            font-family: 'Courier New', Courier, monospace;
		}

        .container-dashboard {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            min-height: 100vh;
        }

        .container {
            margin-right: auto;
            margin-left: auto;
        }
        @media (min-width: 768px) {
        .container { width: 750px; }
        }
        @media (min-width: 992px) {
            .container { width: 970px; }
        }
        @media (min-width: 1200px) {
            .container { width: 1170px; }
        }

        .row {
            display: flex;
            flex-wrap: wrap;
        }
        
        .col {
            flex: 0 0 auto;
            width: 100%;
            padding: 0.5rem
        }
        @media (min-width: 992px) {
            .col { width: 33%; }
        }

		.link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            min-height: 25vh;
            text-decoration: none;
			background-color: #353535;
			border: 1px solid gray;
			transition: transform .2s;
			border-radius: 0.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
		}
		.link:hover {
			transform: scale(1.02);
		}

        .link-image {
            margin-bottom: 0.5rem;
            height: 5rem;
        }
        .link-title {
            font-size: 1.8rem;
            margin: 0;
        }
	</style>
</head>

<body>
	<div class="container-dashboard">
		<div class="container">
			<div class="row">

				<div class="col">
					<a href="/gitlab" class="link">
                        <div>
                            <img src="https://about.gitlab.com/images/press/press-kit-icon.svg" alt="" class="link-image">
                            <h2 class="link-title">Gitlab</h2>
                            <span id="status-gitlab"></span>
                        </div>
					</a>
				</div>

				<div class="col">
					<a href="/taiga" class="link">
						<div>
							<img src="https://assets.brandfolder.com/qi4c28p7/v/357207/original/icon%20taiga%20color.png"
								alt="" class="link-image">
							<h2 class="link-title">Taiga</h2>
							<span id="status-taiga"></span>
						</div>
					</a>
				</div>

				<div class="col">
					<a href="/mattermost" class="link">
						<div>
							<img src="https://1435268659-files.gitbook.io/~/files/v0/b/gitbook-legacy-files/o/assets%2F-LorODNCmgMboJfZ7MPT%2Fsync%2F6c7ab89bca0b50a48f1d35edf13e76fd6faf5b43.svg?generation=1614726374299388&alt=media"
								alt="" class="link-image">
							<h2 class="link-title">Mattermost</h2>
							<span id="status-mattermost"></span>
						</div>
					</a>
				</div>

				<div class="col">
					<a href="/jenkins" class="link">
						<div>
							<img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Jenkins_logo.svg" alt="" class="link-image">
							<h2 class="link-title">Jenkins</h2>
							<span id="status-jenkins"></span>
						</div>
					</a>
				</div>

				<div class="col">
					<a href="/sonarqube" class="link">
						<div>
							<img src="https://plugins.jetbrains.com/files/7238/132659/icon/pluginIcon.svg" alt="" class="link-image">
							<h2 class="link-title">SonarQube</h2>
							<span id="status-sonarqube"></span>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>


	<script>
		$(document).ready(function() {
            const to_check_endpoints = ["gitlab", "taiga", "mattermost", "jenkins", "sonarqube"];

            for (const service of to_check_endpoints) {
                $.ajax({ method: "GET", url: `/${service}` })
                    .then((res) => $(`#status-${service}`).html("🟢 UP"))
                    .catch((err) => {
                        if (err.status === 401 || err.status === 403) { $(`#status-${service}`).html("🟢 UP"); } // Well, it is technically up
                        else { $(`#status-${service}`).html("🔴 DOWN"); }
                    })
            }
		});
	</script>
</body>

</html>