version: "3.5"
 
services:
  nginx:
    image: nginx:latest
    container_name: cas-nginx
    hostname: nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - {{gitlab_registry_port}}:{{gitlab_registry_port}}
    volumes:
      - {{ nginx_directory }}/nginx.conf:/etc/nginx/nginx.conf
      - {{ nginx_directory }}/includes/:/etc/nginx/includes/
      - {{ nginx_directory }}/public/:/var/www/html/dashboard/:ro
{% if schema == 'https' %}
      - {{ nginx_directory }}/certbot/www/:/var/www/certbot/:ro
      - {{ nginx_directory }}/certbot/conf/:/etc/nginx/ssl/:ro
{% endif %}
    networks:
      - cas-network
 
{% if schema == 'https' and dns_cloudflare_api_token is not defined %}
  certbot:
    image: certbot/certbot:latest
    container_name: cas-certbot
    volumes:
      - {{ nginx_directory }}/certbot/www/:/var/www/certbot/:rw
      - {{ nginx_directory }}/certbot/conf/:/etc/letsencrypt/:rw
    networks:
      - cas-network
{% elif schema == 'https' and dns_cloudflare_api_token is defined %}
  certbot-cloudflare:
    image: certbot/dns-cloudflare:latest
    container_name: cas-certbot-cloudflare
    volumes:
      - {{ nginx_directory }}/certbot/www/:/var/www/certbot/:rw
      - {{ nginx_directory }}/certbot/conf/:/etc/letsencrypt/:rw
      - {{ nginx_directory }}/.secrets/:/etc/letsencrypt/.secrets/:ro
    networks:
      - cas-network
{% endif %}
 
networks:
  cas-network:
    external: true
    name: {{ docker_network }}
