location = {{ dev_logger_path }} {
  return 301 $scheme://$host{{ dev_logger_path }}/;
}

location {{ dev_logger_path }}/ {
    resolver 127.0.0.11 valid=10s; # Use Docker DNS
    proxy_pass http://dev-logger-app:3000/;
    proxy_set_header    Host                $host;
    proxy_set_header    X-Real-IP           $remote_addr;
    proxy_set_header    X-Scheme            $scheme;
    proxy_set_header    X-Forwarded-Proto   $scheme;
    proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
    proxy_set_header    Upgrade     $http_upgrade;
    proxy_set_header    Connection  "upgrade";
    proxy_redirect off;
}
