- name: Stopping Mattermost
  become: true
  ignore_errors: true
  community.docker.docker_compose:
    project_src: "{{ mattermost_directory }}"
    stopped: true

- name: Delete nginx conf
  ansible.builtin.import_tasks:
    file: utilities/delete_nginx_conf.yml
  vars:
    label: "mattermost"

- name: Remove backup cron job
  become: true
  ansible.builtin.cron:
    name: "Mattermost backup"
    state: absent